body{
    background-color: #b14141;
}
.game-card{
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    border: 1px solid black;
    border-radius: 5px;
    padding: 40px;
}
.body1{
    display: flex;
    gap: 15px;
}
p{
    color: white;
    font-size: 30px;
}

.game-icon{
    font-size: 60px;
}
.game-btn{
    height: 120px;
    width: 120px;
    border-radius: 50%;
    border: 7px solid #ed5a13;
    background-color: #b8e0cd;
}
.reset-btn,.css-auto-btn,.css-stop-btn{
    height: 45px ;
    width: 150px;
    font-size: 20px;
}
.reset-btn:hover,.css-auto-btn:hover,.css-stop-btn:hover{
    background-color: rgb(228, 219, 209);
}
.same-para{
    color: white;
    font-size: 20px;
}

.r-img{
    height: 50px;
    width: 50px;
    border-radius: 30%;
}